/* Set chat bubble to lighter TH brand green */
.startelecom-custom .cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble {
    background-color: #E8F5F2;
}

/* Sets chat arrow to same color as chat bubble */
.startelecom-custom .cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble-arrow svg * {
    fill: #E8F5F2;
}

/* Sets SVG icons (chat, robot) to TH green */
.startelecom-custom .cx-widget.cx-theme-light .cx-svg-icon-tone1 {
    fill: #005D55;
}

/* Sets titlebarr*/
.startelecom-custom .cx-widget.cx-theme-light .cx-titlebar .cx-title {
    fill: #005D55;
    color: #005D55;
}

/* Removes fuzziness issue of bold font weight */
.startelecom-custom .cx-widget .cx-btn {
    font-weight: normal;
}

/* Changes primary buttons to TH brand green */
.startelecom-custom .cx-widget.cx-theme-light .cx-btn-primary {
    background-color: #005D55;
    background: linear-gradient(0deg, #005D55, #005D55);
    border-color: #005D55 !important;
}

/* Changes primary buttons to TH brand yellow */
.startelecom-custom .cx-widget.cx-theme-light .cx-btn-default {
    background-color: #EEAF30;
    background: linear-gradient(0deg, #EEAF30, #EEAF30);
    border-color: #EEAF30 !important;
}

/* Positions chat overlay tab to bottom right of screen */
.startelecom-custom .cx-side-button-group {
    transform: rotate(0deg);
    bottom: 0;
    right: 5%;
    top: auto;
}


/* Hides Genesys logo when in active chat screen */
.startelecom-custom .cx-webchat.cx-theme-light .cx-menu .cx-branding-icon svg * {
    fill: white;
}

/* Hides "Powered by Genesys" logo when in chat start screen */
.startelecom-custom .cx-widget.cx-theme-light .cx-footer,
.startelecom-custom .cx-widget.cx-theme-light .cx-footer * {
    fill: white;
    color: white;
}