
.cx-widget.th-theme {
    color: #444a52;
    background-color: #fdfdfd;
    scrollbar-face-color:#ccc;font-family: "proxima-nova",sans-serif
}

.cx-widget.th-theme .cx-theme {
    background-color: #fdfdfd;
    color: #444a52;
    border-color: #eeaf30
}

.cx-widget.th-theme .cx-overlay {
    background-color: #fdfdfd
}

.cx-widget.th-theme .cx-svg-icon-tone1 {
    fill: #005d55
}

.cx-widget.th-theme .cx-svg-icon-tone2 {
    fill: #8c8c8c
}

.cx-widget.th-theme .cx-svg-icon-shadow1 {
    fill: #000;
    opacity: .2
}

.cx-widget.th-theme .cx-svg-icon-shadow2 {
    fill: #000;
    opacity: .1
}

.cx-widget.th-theme * {
    border-color: #eeaf30
}

.cx-widget.th-theme .cx-titlebar .cx-title {
    fill: #005d55;
    color: #005d55;
    font-size: 1.4em;
    line-height: normal
}

.cx-widget.th-theme .cx-titlebar .th-tilebar-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(df5c0634844bc2a2085d.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat
}

.cx-widget.th-theme .cx-titlebar .cx-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(df5c0634844bc2a2085d.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat
}

.cx-widget.th-theme .cx-titlebar .cx-icon svg {
    display: none
}

.cx-widget.th-theme .cx-buttons-window-control .cx-svg-icon-tone1 {
    fill: #8795a6
}

.cx-widget.th-theme .cx-input-icon-overlay .cx-svg-icon-tone1 {
    fill: #98a7b8
}

.cx-widget.th-theme .cx-input-group-btn .cx-svg-icon-tone1 {
    fill: #fdfdfd
}

.cx-widget.th-theme label {
    color: #444a52;
    font-size: 14px
}

.cx-widget.th-theme a {
    color: #000
}

.cx-widget.th-theme a:hover {
    color: #000
}

.cx-widget.th-theme .cx-icon-alert-circle {
    color: #f53131
}

.cx-widget.th-theme .cx-footer,.cx-widget.th-theme .cx-branding {
    color: #66759b
}

.cx-widget.th-theme .cx-footer *,.cx-widget.th-theme .cx-branding * {
    fill: #66759b
}

.cx-widget.th-theme .cx-form-control,.cx-widget.th-theme output {
    font-size: 14px
}

.cx-widget.th-theme .cx-form-control.cx-error {
    border-color: #f53131
}

.cx-widget.th-theme .cx-form-control::placeholder {
    color: #6f7491
}

.cx-widget.th-theme .cx-form-control:-moz-placeholder {
    color: #6f7491
}

.cx-widget.th-theme .cx-form-control::-moz-placeholder {
    color: #6f7491
}

.cx-widget.th-theme .cx-form-control:-ms-input-placeholder {
    color: #6f7491
}

.cx-widget.th-theme .cx-form-control::-webkit-input-placeholder {
    color: #6f7491
}

.cx-widget.th-theme input:focus,.cx-widget.th-theme textarea:focus,.cx-widget.th-theme .cx-btn:focus,.cx-widget.th-theme .cx-button-group button:focus,.cx-widget.th-theme .cx-form-control:not(.cx-error):focus {
    border-color: #000 !important
}

.cx-widget.th-theme input[type=text],.cx-widget.th-theme input[type=email],.cx-widget.th-theme input[type=tel],.cx-widget.th-theme select,.cx-widget.th-theme textarea {
    background-color: #fdfdfd;
    color: #444a52;
    border-color: #94948a
}

.cx-widget.th-theme .cx-btn {
    font-size: 14px;
    font-weight: 500
}

.cx-widget.th-theme .cx-btn-default {
    background: #fff;
    border-color: #ccc !important;
    color: #464646;
    background-color: #fff
}

.cx-widget.th-theme .cx-btn.cx-disabled {
    background: #ccc
}

.cx-widget.th-theme .cx-btn-primary {
    color: #fdfdfd;
    border-color: #005d55 !important;
    background: #005d55;
    filter: "progid:DXImageTransform.Microsoft@include gradient( startColorstr='$bg_color_4', endColorstr='$bg_color_5',GradientType=0 )";
    background-color: #005d55
}

.cx-widget.th-theme .cx-button-group .cx-btn-primary:focus,.cx-widget.th-theme .cx-btn-primary:focus,.cx-widget.th-theme .cx-button-group .cx-btn-default:focus,.cx-widget.th-theme .cx-btn-default:focus {
    border-color: #000 !important
}

.cx-widget.th-theme .cx-button-group .cx-btn-primary:hover,.cx-widget.th-theme .cx-btn-primary:hover {
    background-color: #007971 !important;
    text-decoration: underline !important
}

.cx-widget.th-theme .cx-button-group .cx-btn-default:hover,.cx-widget.th-theme .cx-btn-default:hover {
    background-color: #fff !important;
    color: #005d55;
    border-color: #005d55 !important;
    text-decoration: underline !important
}

.cx-widget.th-theme .cx-ac-dropdown-menu {
    background: #fdfdfd;
    border-color: #dae1e8 !important
}

.cx-widget.th-theme .cx-ac-suggestion:hover,.cx-widget.th-theme .cx-ac-suggestion.cx-active {
    background-color: #5791fd;
    color: #fdfdfd
}

.cx-widget.th-theme ::-webkit-scrollbar-thumb {
    background: #939399
}

.cx-widget.th-theme .cx-smokescreen {
    background-color: #fdfdfd;
    opacity: .7
}

.cx-widget.th-theme .cx-dialog-container .cx-dialog {
    background-color: #fdfdfd;
    border-color: #dae1e8 !important
}

.cx-widget.th-theme .cx-theme-background {
    background-color: #fdfdfd
}

.cx-widget.th-theme .cx-theme-border {
    border: 1px solid #dae1e8 !important
}

.cx-widget.th-theme .cx-theme-text {
    color: #444a52
}

.cx-widget.th-theme .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
    fill: #5081e1
}

.cx-widget.th-theme .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
    fill: #34a84f
}

.cx-widget.th-theme .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
    fill: #f53131
}

.cx-widget.th-theme .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
    fill: #d47f2f
}

.cx-widget.th-theme .cx-warning {
    color: #f53131 !important
}

.cx-widget.th-theme .cx-warning .cx-icon svg * {
    fill: #f53131 !important
}

.cx-widget.th-theme .cx-countdown {
    color: #444a52
}

.cx-widget.th-theme .cx-countdown .cx-icon svg * {
    fill: #444a52
}

.cx-widget.th-theme .cx-loading-screen .cx-loading-icon svg g g,.cx-widget.th-theme .cx-loading-container .cx-loading-icon svg g g {
    stroke: #005d55
}

.cx-widget.th-theme .cx-loading-screen .cx-loading-icon svg g:first-child g,.cx-widget.th-theme .cx-loading-container .cx-loading-icon svg g:first-child g {
    stroke: #eeaf30
}

.cx-widget.th-theme .cx-transcript {
    font-size: 14px
}

.cx-widget.th-theme .cx-transcript .cx-message.cx-date {
    border-color: #005d55
}

.cx-widget.th-theme div.cx-input-container .cx-message-input {
    font-size: 14px
}

.cx-widget.th-theme .cx-message.cx-them .cx-bubble-arrow svg * {
    fill: #e8f5f2
}

.cx-widget.th-theme .cx-message.cx-them .cx-bubble {
    background-color: #ebebeb
}

.cx-widget.th-theme .cx-message.cx-you .cx-bubble-arrow svg * {
    fill: #f5f8fa
}

.cx-widget.th-theme .cx-message.cx-you .cx-bubble {
    background-color: #ebebeb
}

.cx-widget.th-theme .cx-desktop .cx-input-focus {
    border-color: #005d55 !important;
    box-shadow: 0 2px 2px #e8f5f2
}

.cx-widget.th-theme .cx-system-message {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700
}

.cx-widget.th-theme .th-message-strong .cx-message-text {
    font-weight: 700
}

.cx-widget.th-theme .th-bot {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(df5c0634844bc2a2085d.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 0px 3px
}

#startChatButton {
    position: fixed;
    width: 60px;
    height: 60px;
    top: auto;
    bottom: 20px;
    right: 60px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none
}

#startChatButton {
    width: 60px;
    height: 60px;
    background-image: url(df5c0634844bc2a2085d.svg);
    background-size: 50px 50px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    animation: bot-to-top 2s ease-out;
	display: none
}

.cx-widget.th-theme .cx-side-button:focus,.cx-widget.th-theme .cx-menu-item.cx-emoji:focus,.cx-widget.th-theme .cx-emoji-menu>.cx-option:focus {
    outline-style: solid !important;
    outline-width: 2px !important;
    outline-color: #000 !important;
    -moz-outline-radius: 2px !important;
    outline: -webkit-focus-ring-color auto 1px !important
}


[data-tooltip] {
    position: relative;
    z-index: 2;
	font-weight:700;
    cursor: pointer
}

[data-tooltip]:before,[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none
}

[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -80px;
    width: 140px;
    background-color: transparent;
    color: #000;
    content: attr(data-tooltip);
    text-align: center;
    font-family: "proxima-nova",sans-serif;
    font-size: 14px;
    line-height: 1.2
}

[data-tooltip]:after {
    display: none
}

[data-tooltip]:hover:before,[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1
}

.error-desc {
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    margin-top: 5px
}

.error-desc span {
    color: #d70000
}

span.cx-chat-button-label {
    display: none
}
